{%- capture icons -%}
{%- capture shared_attr -%}class="svg-icon icon-{{ icon }} {{ class }}" xmlns="http://www.w3.org/2000/svg"{%- endcapture -%}
{% assign icon-name = icon | replace: '-', '_' %}
{% assign icon-name = 'general.icons.' | append: icon-name %}
{% assign icon-name = icon-name | t %}

{% assign width = '1.5' %}

{% capture icon_title %}
  <title>{{ 'general.icons.icon_title' | t: name: icon-name }}</title>
{% endcapture %}

{% if icon == 'check' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M16.6666 5.41669L7.49992 14.5834L3.33325 10.4167" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'chevron-down' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M5 7.5L10 12.5L15 7.5" fill="transparent" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'chevron-left' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M12.5 15L7.5 10L12.5 5" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'chevron-right' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M7.5 15L12.5 10L7.5 5" fill="none" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'chevron-up' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M15 12.5L10 7.5L5 12.5" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'close-circle' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 1.66669C5.39771 1.66669 1.66675 5.39765 1.66675 10C1.66675 14.6024 5.39771 18.3334 10.0001 18.3334C14.6025 18.3334 18.3334 14.6024 18.3334 10C18.3334 5.39765 14.6025 1.66669 10.0001 1.66669Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 7.5L7.5 12.5L12.5 7.5Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 7.5L12.5 12.5L7.5 7.5Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'close' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M15 5L10 10L5 15" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M5 5L10 10L15 15" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'facebook' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.5834 1.66669H12.0834C9.78223 1.66669 7.91675 3.53217 7.91675 5.83335V8.33335H5.41675V11.6667H7.91675V18.3334H11.2501V11.6667H13.7501L14.5834 8.33335H11.2501V5.83335C11.2501 5.37312 11.6232 5.00002 12.0834 5.00002H14.5834V1.66669Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'google-plus' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.47681 0 0 4.47687 0 10C0 15.5225 4.47681 20 10 20C15.5232 20 20 15.5225 20 10C20 4.47687 15.5232 0 10 0ZM7.62622 14.7281C4.97192 14.7281 2.8125 12.6075 2.8125 10.0006C2.8125 7.39374 4.97192 5.27246 7.62622 5.27246C8.78687 5.27246 9.90869 5.68433 10.7837 6.43182L9.55933 7.81372C9.02368 7.3562 8.33691 7.1037 7.62573 7.1037C5.99927 7.1037 4.67627 8.40308 4.67627 9.99994C4.67627 11.5969 5.99927 12.8962 7.62573 12.8962C9.00122 12.8962 9.90186 12.2368 10.1943 11.0543H7.64819V9.22308H12.1626V10.1387C12.1631 12.8831 10.3401 14.7281 7.62622 14.7281ZM15.792 9.22375H17.1882V10.34H15.792V11.7356H14.6755V10.34H13.28V9.22375H14.6755V7.82812H15.792V9.22375Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'instagram' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C12.716 0 13.057 0.0119999 14.123 0.0599999C15.748 0.134 17.176 0.533 18.322 1.678C19.468 2.824 19.866 4.252 19.94 5.877C19.988 6.943 20 7.284 20 10C20 12.716 19.988 13.057 19.94 14.123C19.866 15.748 19.467 17.176 18.322 18.322C17.176 19.468 15.748 19.866 14.123 19.94C13.057 19.988 12.716 20 10 20C7.284 20 6.943 19.988 5.877 19.94C4.252 19.866 2.824 19.467 1.678 18.322C0.533 17.176 0.134 15.748 0.0599999 14.123C0.0119999 13.057 0 12.716 0 10C0 7.284 0.0119999 6.943 0.0599999 5.877C0.134 4.252 0.533 2.824 1.678 1.678C2.824 0.533 4.252 0.134 5.877 0.0599999C6.943 0.0119999 7.284 0 10 0ZM10 1.802C7.33 1.802 7.013 1.812 5.96 1.86C4.82 1.912 3.765 2.14 2.952 2.952C2.14 3.765 1.912 4.821 1.86 5.959C1.812 7.013 1.802 7.33 1.802 10C1.802 12.67 1.812 12.987 1.86 14.04C1.912 15.18 2.14 16.235 2.952 17.048C3.765 17.86 4.821 18.088 5.959 18.14C7.013 18.188 7.33 18.198 10 18.198C12.67 18.198 12.987 18.188 14.04 18.14C15.18 18.088 16.235 17.86 17.048 17.047C17.86 16.235 18.088 15.179 18.14 14.041C18.188 12.987 18.198 12.67 18.198 10C18.198 7.33 18.188 7.013 18.14 5.96C18.088 4.82 17.86 3.765 17.047 2.952C16.235 2.14 15.179 1.912 14.041 1.86C12.987 1.812 12.67 1.802 10 1.802V1.802ZM10 4.865C10.6743 4.865 11.3421 4.99782 11.9651 5.25588C12.5881 5.51394 13.1542 5.89218 13.631 6.36901C14.1078 6.84584 14.4861 7.41191 14.7441 8.03492C15.0022 8.65793 15.135 9.32566 15.135 10C15.135 10.6743 15.0022 11.3421 14.7441 11.9651C14.4861 12.5881 14.1078 13.1542 13.631 13.631C13.1542 14.1078 12.5881 14.4861 11.9651 14.7441C11.3421 15.0022 10.6743 15.135 10 15.135C8.63811 15.135 7.33201 14.594 6.36901 13.631C5.40601 12.668 4.865 11.3619 4.865 10C4.865 8.63811 5.40601 7.33201 6.36901 6.36901C7.33201 5.40601 8.63811 4.865 10 4.865V4.865ZM10 13.333C10.8841 13.333 11.732 12.9818 12.3571 12.3566C12.9823 11.7315 13.3335 10.8836 13.3335 9.9995C13.3335 9.1154 12.9823 8.26751 12.3571 7.64236C11.732 7.01721 10.8841 6.666 10 6.666C9.1159 6.666 8.26801 7.01721 7.64286 7.64236C7.01771 8.26751 6.6665 9.1154 6.6665 9.9995C6.6665 10.8836 7.01771 11.7315 7.64286 12.3566C8.26801 12.9818 9.1159 13.333 10 13.333V13.333ZM15.338 5.862C15.0197 5.862 14.7145 5.73557 14.4895 5.51053C14.2644 5.28548 14.138 4.98026 14.138 4.662C14.138 4.34374 14.2644 4.03852 14.4895 3.81347C14.7145 3.58843 15.0197 3.462 15.338 3.462C15.6563 3.462 15.9615 3.58843 16.1865 3.81347C16.4116 4.03852 16.538 4.34374 16.538 4.662C16.538 4.98026 16.4116 5.28548 16.1865 5.51053C15.9615 5.73557 15.6563 5.862 15.338 5.862Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'kickstarter' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M8.43781 7.45333L11.51 3.2C12.0923 2.4 12.8408 2 13.7632 2C14.5117 2 15.1611 2.254 15.7106 2.76267C16.2573 3.27267 16.5317 3.87933 16.5317 4.588C16.5317 5.11067 16.3871 5.574 16.096 5.974L13.3261 9.82L16.7146 13.922C17.0526 14.33 17.2222 14.8087 17.2222 15.3553C17.2222 16.0793 16.9562 16.7007 16.4228 17.2207C15.8907 17.74 15.2455 18 14.488 18C13.6578 18 13.0238 17.742 12.5881 17.2267L8.4385 12.282V15.008C8.4385 15.7867 8.29746 16.3907 8.01468 16.8227C7.50008 17.6073 6.75577 18 5.77127 18C4.87614 18 4.1821 17.7093 3.69125 17.134C3.23042 16.6013 3 15.8967 3 15.0193V4.91C3 4.08 3.2346 3.394 3.70102 2.85467C4.18839 2.28533 4.86567 2 5.73007 2C6.55329 2 7.23825 2.28533 7.78706 2.85467C8.09288 3.17133 8.28629 3.49 8.36729 3.81467C8.41616 4.01467 8.4406 4.38667 8.4406 4.93467V7.45333H8.43781V7.45333Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'mail' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.33335 3.33337H16.6667C17.5834 3.33337 18.3334 4.08337 18.3334 5.00004V15C18.3334 15.9167 17.5834 16.6667 16.6667 16.6667H3.33335C2.41669 16.6667 1.66669 15.9167 1.66669 15V5.00004C1.66669 4.08337 2.41669 3.33337 3.33335 3.33337Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M18.3334 5L10 10.8333L1.66669 5" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'menu' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M2.5 5H17.5" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M2.5 10H15.5" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M2.5 15H12.5" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'minus' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M4.16675 10H15.8334" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'more' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 9.16669C9.53984 9.16669 9.16675 9.53978 9.16675 10C9.16675 10.4603 9.53984 10.8334 10.0001 10.8334C10.4603 10.8334 10.8334 10.4603 10.8334 10C10.8334 9.53978 10.4603 9.16669 10.0001 9.16669Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8333 9.16669C15.3731 9.16669 15 9.53978 15 10C15 10.4603 15.3731 10.8334 15.8333 10.8334C16.2936 10.8334 16.6667 10.4603 16.6667 10C16.6667 9.53978 16.2936 9.16669 15.8333 9.16669Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.16659 9.16669C3.70635 9.16669 3.33325 9.53978 3.33325 10C3.33325 10.4603 3.70635 10.8334 4.16659 10.8334C4.62682 10.8334 4.99992 10.4603 4.99992 10C4.99992 9.53978 4.62682 9.16669 4.16659 9.16669Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'pacific-logo' %}
  <svg {{ shared_attr }} width="117" height="19" fill="none">
    {{ icon_title }}
    <path d="M0.460938 1.19531V18H4.07031V12.4805H7.53906C9.27344 12.4805 10.7031 11.9414 11.8398 10.8633C12.9648 9.78516 13.5391 8.4375 13.5391 6.84375C13.5391 5.25 12.9648 3.90234 11.8281 2.82422C10.6914 1.74609 9.26172 1.20703 7.53906 1.20703L0.460938 1.19531ZM7.42188 4.45312C8.13672 4.45312 8.73438 4.67578 9.21484 5.14453C9.69531 5.61328 9.94141 6.17578 9.94141 6.85547C9.94141 7.52344 9.69531 8.08594 9.21484 8.55469C8.73438 9.01172 8.13672 9.24609 7.42188 9.24609H4.07031V4.45312H7.42188Z" fill="currentColor"/>
    <path d="M28.4219 10.9219H24.332L26.3828 5.40234L28.4219 10.9219ZM29.6172 14.0391L31.0586 18H34.9023L28.293 1.19531H24.4609L17.8516 18H21.6953L23.1367 14.0391H29.6172Z" fill="currentColor"/>
    <path d="M48.4727 0.84375C45.9062 0.84375 43.7383 1.69922 41.9805 3.41016C40.2227 5.12109 39.3438 7.18359 39.3438 9.59766C39.3438 12.0117 40.2227 14.0859 41.9805 15.7969C43.7383 17.5078 45.9062 18.3633 48.4727 18.3633C49.3398 18.3633 50.1836 18.2461 51.0039 18C51.8242 17.7656 52.4805 17.4961 52.9844 17.2031C53.4883 16.9102 53.957 16.5703 54.4023 16.1836C54.8477 15.7969 55.1289 15.5273 55.2578 15.375C55.3867 15.2227 55.4805 15.0938 55.5508 15L53.3828 12.7148L53.1953 12.9609C53.0664 13.1367 52.8672 13.3359 52.5859 13.5703C52.3047 13.8047 51.9766 14.0391 51.6133 14.2734C51.2383 14.5078 50.7812 14.707 50.2188 14.8711C49.6562 15.0352 49.082 15.1172 48.4727 15.1172C46.9023 15.1172 45.5898 14.5898 44.5352 13.5352C43.4805 12.4805 42.9531 11.168 42.9531 9.59766C42.9531 8.02734 43.4805 6.71484 44.5352 5.66016C45.5898 4.60547 46.9023 4.07812 48.4727 4.07812C49.0352 4.07812 49.5977 4.17188 50.1484 4.34766C50.6875 4.52344 51.1328 4.71094 51.4727 4.92188C51.8008 5.13281 52.1172 5.36719 52.3984 5.63672C52.6797 5.91797 52.8672 6.10547 52.9492 6.22266C53.0312 6.33984 53.1016 6.42188 53.1484 6.48047L55.4336 4.19531L55.1641 3.84375C54.9883 3.62109 54.707 3.33984 54.3086 3.01172C53.9102 2.68359 53.4648 2.35547 52.9492 2.02734C52.4336 1.69922 51.7891 1.42969 50.9922 1.19531C50.1953 0.960938 49.3516 0.84375 48.4727 0.84375Z" fill="currentColor"/>
    <path d="M61.4219 18H65.0312V1.19531H61.4219V18Z" fill="currentColor"/>
    <path d="M72.3438 1.19531V18H75.9531V11.4023H82.7852V8.15625H75.9531V4.44141H84.707V1.19531H72.3438Z" fill="currentColor"/>
    <path d="M90.8125 18H94.4219V1.19531H90.8125V18Z" fill="currentColor"/>
    <path d="M109.902 0.84375C107.336 0.84375 105.168 1.69922 103.41 3.41016C101.652 5.12109 100.773 7.18359 100.773 9.59766C100.773 12.0117 101.652 14.0859 103.41 15.7969C105.168 17.5078 107.336 18.3633 109.902 18.3633C110.77 18.3633 111.613 18.2461 112.434 18C113.254 17.7656 113.91 17.4961 114.414 17.2031C114.918 16.9102 115.387 16.5703 115.832 16.1836C116.277 15.7969 116.559 15.5273 116.688 15.375C116.816 15.2227 116.91 15.0938 116.98 15L114.812 12.7148L114.625 12.9609C114.496 13.1367 114.297 13.3359 114.016 13.5703C113.734 13.8047 113.406 14.0391 113.043 14.2734C112.668 14.5078 112.211 14.707 111.648 14.8711C111.086 15.0352 110.512 15.1172 109.902 15.1172C108.332 15.1172 107.02 14.5898 105.965 13.5352C104.91 12.4805 104.383 11.168 104.383 9.59766C104.383 8.02734 104.91 6.71484 105.965 5.66016C107.02 4.60547 108.332 4.07812 109.902 4.07812C110.465 4.07812 111.027 4.17188 111.578 4.34766C112.117 4.52344 112.562 4.71094 112.902 4.92188C113.23 5.13281 113.547 5.36719 113.828 5.63672C114.109 5.91797 114.297 6.10547 114.379 6.22266C114.461 6.33984 114.531 6.42188 114.578 6.48047L116.863 4.19531L116.594 3.84375C116.418 3.62109 116.137 3.33984 115.738 3.01172C115.34 2.68359 114.895 2.35547 114.379 2.02734C113.863 1.69922 113.219 1.42969 112.422 1.19531C111.625 0.960938 110.781 0.84375 109.902 0.84375Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'pinterest' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0C4.479 0 0 4.477 0 10C7.06778e-05 12.0111 0.606561 13.9754 1.74027 15.6364C2.87399 17.2975 4.48223 18.5781 6.355 19.311C6.268 18.521 6.189 17.306 6.39 16.443C6.573 15.662 7.563 11.472 7.563 11.472C7.563 11.472 7.263 10.872 7.263 9.987C7.263 8.599 8.071 7.558 9.073 7.558C9.927 7.558 10.338 8.199 10.338 8.967C10.338 9.826 9.793 11.108 9.511 12.297C9.273 13.293 10.011 14.103 10.991 14.103C12.767 14.103 14.135 12.23 14.135 9.526C14.135 7.132 12.415 5.458 9.957 5.458C7.112 5.458 5.444 7.592 5.444 9.798C5.444 10.657 5.773 11.578 6.185 12.079C6.268 12.179 6.279 12.267 6.257 12.367C6.182 12.682 6.012 13.362 5.977 13.5C5.934 13.683 5.834 13.723 5.643 13.634C4.395 13.053 3.613 11.227 3.613 9.759C3.613 6.605 5.905 3.709 10.222 3.709C13.69 3.709 16.387 6.181 16.387 9.484C16.387 12.93 14.212 15.705 11.196 15.705C10.183 15.705 9.231 15.178 8.904 14.555L8.279 16.933C8.054 17.801 7.445 18.89 7.037 19.553C7.974 19.843 8.968 20 9.999 20C15.521 20 20 15.523 20 10C20 4.478 15.521 0.000999928 10 0.000999928V0Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'play' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path stroke="currentColor" stroke-width="{{- width -}}" d="M10.0001 1.66669c-4.60239 0-8.33335 3.73096-8.33335 8.33331 0 4.6024 3.73096 8.3334 8.33335 8.3334 4.6024 0 8.3333-3.731 8.3333-8.3334 0-4.60235-3.7309-8.33331-8.3333-8.33331z" clip-rule="evenodd"/>
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="{{- width -}}" d="M13.3335 10l-5-3.33331v6.66671l5-3.3334z"/>
  </svg>
{% endif %}

{% if icon == 'plus' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M10 4.16669V15.8334" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M4.16675 10H15.8334" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'rss' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M3.33325 8.41663C2.91904 8.41663 2.58325 8.75241 2.58325 9.16663C2.58325 9.58084 2.91904 9.91663 3.33325 9.91663V8.41663ZM10.0833 16.6666C10.0833 17.0808 10.419 17.4166 10.8333 17.4166C11.2475 17.4166 11.5833 17.0808 11.5833 16.6666H10.0833ZM3.33325 2.58331C2.91904 2.58331 2.58325 2.9191 2.58325 3.33331C2.58325 3.74753 2.91904 4.08331 3.33325 4.08331V2.58331ZM15.9166 16.6666C15.9166 17.0809 16.2524 17.4166 16.6666 17.4166C17.0808 17.4166 17.4166 17.0809 17.4166 16.6666H15.9166ZM3.33325 9.91663C7.06117 9.91663 10.0833 12.9387 10.0833 16.6666H11.5833C11.5833 12.1103 7.8896 8.41663 3.33325 8.41663V9.91663ZM3.33325 4.08331C10.2828 4.08331 15.9166 9.71706 15.9166 16.6666H17.4166C17.4166 8.88864 11.1113 2.58331 3.33325 2.58331V4.08331ZM4.16659 14.25C3.29213 14.25 2.58325 14.9589 2.58325 15.8333H4.08325C4.08325 15.7873 4.12056 15.75 4.16659 15.75V14.25ZM2.58325 15.8333C2.58325 16.7078 3.29213 17.4167 4.16659 17.4167V15.9167C4.12056 15.9167 4.08325 15.8794 4.08325 15.8333H2.58325ZM4.16659 17.4167C5.04104 17.4167 5.74992 16.7078 5.74992 15.8333H4.24992C4.24992 15.8794 4.21261 15.9167 4.16659 15.9167V17.4167ZM5.74992 15.8333C5.74992 14.9589 5.04104 14.25 4.16659 14.25V15.75C4.21261 15.75 4.24992 15.7873 4.24992 15.8333H5.74992Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'search' %}
  <svg {{ shared_attr }} viewBox="0 0 20 20" width="20" height="20" fill="none">
    {{ icon_title }}
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 17.5L15.6875 15.6875L13.875 13.875L17.5 17.5Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'shopping-basket' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M3 5.2L5.33333 2H14.6667L17 5.2V16.4C17 16.8243 16.8361 17.2313 16.5444 17.5314C16.2527 17.8314 15.857 18 15.4444 18H4.55556C4.143 18 3.74733 17.8314 3.45561 17.5314C3.16389 17.2313 3 16.8243 3 16.4V5.2Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M3 5.20001H17" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M13.1111 8.40002C13.1111 9.24872 12.7834 10.0626 12.1999 10.6628C11.6165 11.2629 10.8251 11.6 10 11.6C9.17491 11.6 8.38359 11.2629 7.80014 10.6628C7.21669 10.0626 6.88892 9.24872 6.88892 8.40002" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'shopping-cart' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M2 2H4.90909L6.85818 12.2019C6.99544 12.9259 7.60828 13.4427 8.31273 13.4286H15.3818C16.0863 13.4427 16.6991 12.9259 16.8364 12.2019L18 5.80952H5.63636" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.81834 16.4763C7.41668 16.4763 7.09106 16.8174 7.09106 17.2382C7.09106 17.659 7.41668 18.0001 7.81834 18.0001C8.22 18.0001 8.54561 17.659 8.54561 17.2382C8.54561 16.8174 8.22 16.4763 7.81834 16.4763Z" stroke="currentColor" stroke-width="{{- width -}}"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8183 16.4763C15.4167 16.4763 15.0911 16.8174 15.0911 17.2382C15.0911 17.659 15.4167 18.0001 15.8183 18.0001C16.22 18.0001 16.5456 17.659 16.5456 17.2382C16.5456 16.8174 16.22 16.4763 15.8183 16.4763Z" stroke="currentColor" stroke-width="{{- width -}}"/>
  </svg>
{% endif %}

{% if icon == 'star' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 3L12.163 7.60778L17 8.35121L13.5 11.9359L14.326 17L10 14.6078L5.674 17L6.5 11.9359L3 8.35121L7.837 7.60778L10 3Z" stroke="currentColor" stroke-width="{{- width -}}" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endif %}

{% if icon == 'star-filled' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 2.07501L12.5751 7.29168L18.3334 8.13335L14.1667 12.1917L15.1501 17.925L10.0001 15.2167L4.85008 17.925L5.83341 12.1917L1.66675 8.13335L7.42508 7.29168L10.0001 2.07501Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'twitter' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1666 2.53193C18.3686 3.09483 17.485 3.52535 16.5499 3.80693C15.5219 2.62488 13.8652 2.21036 12.4017 2.76897C10.9381 3.32759 9.97892 4.74051 9.99992 6.30693V7.14026C7.02547 7.21739 4.20994 5.80024 2.49992 3.36526C2.49992 3.36526 -0.833415 10.8653 6.66659 14.1986C4.95036 15.3636 2.90588 15.9477 0.833252 15.8653C8.33325 20.0319 17.4999 15.8653 17.4999 6.28193C17.4992 6.04981 17.4768 5.81826 17.4333 5.59026C18.2838 4.75151 18.8839 3.69252 19.1666 2.53193Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'user-account' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3333 17.5V15.8333C16.3333 13.9924 14.8409 12.5 12.9999 12.5H7.16659C5.32564 12.5 3.83325 13.9924 3.83325 15.8333V17.5H16.3333Z" stroke="currentColor" stroke-width="{{- width -}}"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0833 2.5C8.24238 2.5 6.75 3.99238 6.75 5.83333C6.75 7.67428 8.24238 9.16667 10.0833 9.16667C11.9243 9.16667 13.4167 7.67428 13.4167 5.83333C13.4167 3.99238 11.9243 2.5 10.0833 2.5Z" stroke="currentColor" stroke-width="{{- width -}}"/>
  </svg>
{% endif %}

{% if icon == 'vimeo' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M18.9823 5.60919C18.9036 7.36265 17.6781 9.76634 15.3119 12.8158C12.861 16.0009 10.7925 17.5932 9.09455 17.5932C8.03783 17.5932 7.1611 16.6227 6.42987 14.6825L4.9914 9.3471C4.45216 7.40915 3.87543 6.43867 3.25744 6.43867C3.1232 6.43867 2.65296 6.72217 1.84673 7.28765L1 6.19493C1.88873 5.41195 2.76321 4.63197 3.62569 3.84899C4.80991 2.82301 5.69938 2.28528 6.29112 2.22978C7.69134 2.09478 8.55306 3.05476 8.87631 5.10821C9.22505 7.3229 9.46804 8.69987 9.60454 9.23835C10.0088 11.0758 10.4528 11.9938 10.9365 11.9938C11.313 11.9938 11.8785 11.3968 12.6352 10.2051C13.3882 9.01336 13.7902 8.10738 13.8442 7.48415C13.9522 6.45592 13.5479 5.93844 12.6337 5.93844C12.2032 5.93844 11.7585 6.02918 11.301 6.23168C12.1905 3.33075 13.8764 1.91403 16.3724 2.00403C18.2271 2.04903 19.0933 3.252 18.9921 5.60169L18.9823 5.60919V5.60919Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'youtube' %}
  <svg {{ shared_attr }} width="20" height="20" viewBox="0 0 20 20" fill="none">
    {{ icon_title }}
    <path d="M18.6242 5.94248C18.5199 5.56867 18.3209 5.22808 18.0465 4.95365C17.772 4.67922 17.4314 4.48023 17.0576 4.3759C15.6546 4.00001 10.008 4.00001 10.008 4.00001C10.008 4.00001 4.37567 3.99251 2.95839 4.3759C2.58457 4.48023 2.24399 4.67922 1.96956 4.95365C1.69513 5.22808 1.49613 5.56867 1.39181 5.94248C1.12585 7.3789 0.99473 8.83703 1.00016 10.2979C0.995757 11.7532 1.12687 13.2057 1.39181 14.6367C1.49613 15.0105 1.69513 15.3511 1.96956 15.6255C2.24399 15.9 2.58457 16.099 2.95839 16.2033C4.35991 16.5799 10.008 16.5799 10.008 16.5799C10.008 16.5799 15.6396 16.5799 17.0576 16.2033C17.4314 16.099 17.772 15.9 18.0465 15.6255C18.3209 15.3511 18.5199 15.0105 18.6242 14.6367C18.8836 13.2052 19.0092 11.7526 18.9994 10.2979C19.0102 8.83755 18.8846 7.37942 18.6242 5.94248V5.94248ZM8.20584 12.9921V7.59535L12.9056 10.2979L8.20584 12.9921Z" fill="currentColor"/>
  </svg>
{% endif %}

{% if icon == 'sweetly' %}
  <svg {{ shared_attr }} width="114" height="41" viewBox="0 0 114 41" fill="none">
    {{ icon_title }}
    <path fill="currentColor" fill-rule="evenodd" d="M91.2 5.5a20.6 20.6 0 0 1-1.4 6 24 24 0 0 1-2.3 4.6c-.9 1.5-2 3-3 4.2v.6l.4 1 .7 1.2c.6 1 1.3 1.6 2 1.9a4 4 0 0 0 2.3 0 4.7 4.7 0 0 0 3-2.6 2.7 2.7 0 0 1 .6-1.1c-.6-.5-1-1-1.3-1.7-.3-.7-.5-1.5-.5-2.3 0-.8 0-1.6.2-2.2.1-.7.4-1.3.6-1.7.3-.5.6-.7.9-.7.4 0 .8.2 1 .6.2.3.4.7.4 1.2L95 16v1.5l.1 1.1c.2.3.4.5.7.5.3 0 .6 0 .9-.3l.8-1.1.9-1.6 1-1.7.9-1 .9-.3c.3-.1.6-.2 1-.1.4 0 1 .3 1.5 1.1l.7 1.3.7 2a34.8 34.8 0 0 1 1.4 6.5 21.2 21.2 0 0 1-.9 10.2 11.5 11.5 0 0 1-4.6 5.7 7.8 7.8 0 0 1-6 1c-.9-.3-1.7-.8-2.5-1.6a7.5 7.5 0 0 1-2-5.9 6 6 0 0 1 1.4-3.2c.7-1 1.6-1.8 2.7-2.4a12.8 12.8 0 0 1 5.4-1.6c.7 0 1 .1 1 .3a70 70 0 0 1-3.8 2.8c-.7.5-1.3 1.2-2 2-.7 1-1 1.7-1 2.4s.3 1.3.8 1.6c.5.4 1.3.5 2.2.3a7.3 7.3 0 0 0 4.6-3.5c.3-.7.6-1.4.7-2.3.2-.8.2-1.7.2-2.6l-.1-2.6c-.3-2-.7-4.1-1.4-6.3l-1.3 2-1.6 1.2c-.6.4-1.2.6-2 .6-.7 0-1.3 0-1.9-.3.1.3.2.6.1.9a11.1 11.1 0 0 1-2.5 3.9l-1.2.9-1.5.6-1.6.2a7 7 0 0 1-6.4-3.9c-.7-1.1-1.1-2.4-1.4-3.8a29.2 29.2 0 0 1 1.3-15.3c.4-1 .9-2 1.5-2.8a7 7 0 0 1 2-1.9 4.8 4.8 0 0 1 5 .4c.5.3 1 .9 1.3 1.6.3.8.4 1.7.3 3zM84 17a37.2 37.2 0 0 0 4-9.6 32.3 32.3 0 0 0 .4-3.1c0-.5 0-1-.2-1.2a1 1 0 0 0-.9-.6c-.5 0-1 .1-1.4.5-.4.4-.7 1-1 1.7-.3.7-.5 1.5-.7 2.5l-.3 3.1V17.1zM71 .6c-.5 0-.8.3-.8.7l-.2.9v1A37.9 37.9 0 0 0 70 7v1.5l-2 .6c-.4.2-.9.4-1.2.7-.4.2-.6.5-.5.9 0 .4.3.7.8.9l1.3.2c.6 0 1.2 0 1.8-.2a227 227 0 0 0 .4 12.6L71 26l.4.8 1 .3 1-.1c.3-.2.6-.5.8-1a7 7 0 0 0 .6-2.4l.1-3.8a117.7 117.7 0 0 0-.1-8.8l2.1-.5a7 7 0 0 0 1.4-.6c.5-.3.7-.6.7-1 0-.2-.2-.4-.7-.6l-1.5-.2-2.1.1a243.9 243.9 0 0 1-.3-4.8c0-.5-.2-1-.6-1.4-.4-.5-.9-.9-1.4-1.1L71 .6zM42.8 11.8c-.6.5-1 1-1.4 1.7a8 8 0 0 0-.6 1.2l-1-.6c-.5-.3-1.1-.5-1.7-.5-.6 0-1.2.2-1.6.6-.5.4-1 1-1.3 1.6a19.4 19.4 0 0 0-2 4.3l-.8 1.9c-.3.5-.5.9-.7 1-.3.3-.6.2-.9-.3l-.6-1.8a111.5 111.5 0 0 1-1.2-4.4l-.7-1.4a3 3 0 0 0-1-1.2c-.3-.3-.8-.4-1.3-.3-.5 0-1.1.3-1.8.9-.7.5-1.3 1.3-1.8 2.3a23 23 0 0 0-1.9 6c-.2.8-.3 1.3-.5 1.6-.1.2-.4.1-.8-.3s-.8-1-1.1-2a17.2 17.2 0 0 1-1-7.8c0-.3 0-.6-.2-1a2 2 0 0 0-.8-.6l-1.2-.3c-.5 0-1 .1-1.5.4-.3.1-.6.5-.7 1l-.2 1.8a20.3 20.3 0 0 0 2.3 7.8 9.6 9.6 0 0 0 2.7 2.8c.6.4 1.2.6 2 .8.7.2 1.4.2 2.2 0a5 5 0 0 0 2-.8 5.6 5.6 0 0 0 2-2.8l.6-1.6a49.4 49.4 0 0 0 .8-2c.1 0 .2 0 .3.3l.3 1.1a8.2 8.2 0 0 0 3.3 5.2c.5.3 1.1.4 1.8.4.7-.1 1.3-.3 1.8-.6s.9-.7 1.2-1.1c.3-.5.6-1 .8-1.7l.7-2.3c.4-1.7 1-2.9 1.6-3.5a2 2 0 0 1 1.1-.6l-.2 1.4.1 2.8c.1.9.4 1.8.7 2.6a7 7 0 0 0 1.5 2.2c.7.6 1.5 1 2.4 1.3 1.2.4 2.2.5 3.2.3a6.6 6.6 0 0 0 4.3-2.7c.5-.7.9-1.4 1.1-2 .3-.7.4-1.3.3-1.7 0-.5-.1-.8-.4-1-.2 0-.4.1-.7.5l-.8 1.3-1.4 1.5a4 4 0 0 1-2.1 1H47L46 24l-.5-.6-.3-.9c-.2-.6-.3-1.4-.3-2.3.7 0 1.4-.1 2-.3.7-.2 1.3-.6 2-1 .8-.5 1.5-1.2 2-2a6 6 0 0 0 1.1-2.6c.2-.8.2-1.5 0-2.2-.3-.6-.7-1.2-1.2-1.6-.5-.4-1.1-.7-1.9-.7a11.7 11.7 0 0 0-4.3.9L43 11.8zm3.1 5.4l-1 .3-.1-.7.3-1 .7-1.3 1.3-1.3 1.1-.6h1.1c.2.3.2.6.2.9l-.3 1c-.2.3-.4.7-.9 1.1a7.5 7.5 0 0 1-2.4 1.6zm9.7-3.7c.3-.6.7-1.2 1.3-1.7l1.8-1.1a9.5 9.5 0 0 1 4.3-1c.8.1 1.4.4 2 .8.5.4.8 1 1 1.6.3.7.3 1.4.2 2.2a6 6 0 0 1-1.1 2.5c-.6 1-1.3 1.6-2 2-.8.5-1.4.9-2 1-.7.3-1.4.4-2.1.4a6.8 6.8 0 0 0 .6 3.2l.6.6.8.4h1a4 4 0 0 0 2.2-.9l1.4-1.5.9-1.3c.2-.4.4-.5.6-.4.3 0 .4.4.4.9 0 .4 0 1-.3 1.7l-1 2a6.4 6.4 0 0 1-4.4 2.7c-1 .2-2 0-3.2-.3-1-.3-1.7-.7-2.4-1.3a7 7 0 0 1-1.5-2.2c-.3-.8-.6-1.7-.7-2.6a13.3 13.3 0 0 1 .5-5.5 9 9 0 0 1 1-2.2zm3.4 4a5.5 5.5 0 0 0 2.1-.9c.4-.2.9-.5 1.3-1a3.2 3.2 0 0 0 1.2-2.2l-.1-.8h-1.1l-1.2.6-1.3 1.3a6 6 0 0 0-1 2.3v.7zM10 9.7v.5l-.6.3-.7.4a3 3 0 0 0-.9.7l-.7 1.1a5 5 0 0 0-.2 1.7c0 .7.1 1.4.4 2l1.4 2 1.6 1.8 1.7 1.8c.5.6.9 1.2 1.1 1.9.3.6.4 1.2.3 2-.1.6-.5 1.2-1.2 1.6-.6.5-1.4.9-2.3 1a11.9 11.9 0 0 1-6 .2c-1-.2-1.8-.5-2.4-.9-.7-.4-1.2-1-1.3-1.7-.3-1-.4-1.8-.2-2.5A4 4 0 0 1 1.6 21l1-.6c.5-.3 1-.3 1 0 .3.3.2.8-.3 1.5-.1.3-.2.7-.1 1.2.1.4.3.8.7 1.2l1.3.9c.6.3 1.2.4 2 .4h1.2l1.2-.6c.3-.2.4-.5.5-.8 0-.4 0-.7-.4-1.1l-1.6-1.6A20 20 0 0 1 3.5 17c-.6-.8-1-1.7-1-2.6 0-1.7.4-3 1-3.7.6-.8 1.6-1.3 3-1.6L8.2 9l1 .1c.3.1.5.2.6.4l.3.3zm100.4 8.7a2.9 2.9 0 1 1 0-5.8 2.9 2.9 0 0 1 0 5.8zm0-5.2c-1.3 0-2.3 1-2.3 2.3a2.2 2.2 0 1 0 4.5 0c0-1.3-1-2.3-2.2-2.3zm1.3 3.9h-.8l-.6-1.1h-.2v1h-.7v-3h1.1c.7 0 1.1.4 1.1 1 0 .4-.2.7-.6.9l.7 1.2zm-1.6-2.6v.9h.3c.4 0 .5-.2.5-.4 0-.3-.1-.5-.5-.5h-.3z" clip-rule="evenodd"/>
  </svg>
  {% endif %}

{% if icon == 'marmalade' %}
 <svg {{shared_attr}} width="24" height="24" viewBox="0 0 110 110" fill="none">
  {{ icon_title }}
  <path fill="currentColor" fill-rule="evenodd" d="M105.9 33.7c-1-2-3-3-4-4.8-1.5-1.4-2.7-3.1-4.5-4.2 0-1.2.8-1.5.3-2.4.1-1.3-1.3-1-1.4-2.2.6-.7 1-1.4 1.4-2.3-.8 0-1.1.4-1.9.5-.9-.3-1.4 1-1.8.3 0-2.9-.3-5.4-1.1-7.5-.2-1 .9-.9.5-2-.8-1-1.2-2.2-2.6-2.5-1-.8-2.6-.9-3.7-1.6l-8.2-2C73 1.6 67.2.7 60.9.2 57.7.3 54 .3 52 0c-1.7.6-4.5.1-6.6.3a72 72 0 0 0-26.3 6c-1.2 0-2 .1-2.6.6-1.6 2.5-1.9 6.3-2.4 9.8v4.5c-2 0-3 1.4-2.4 3.2-1.6 0-2.6.6-3 1.8 0 1.3 1.2 1.4 1.7 2.2A32.5 32.5 0 0 0 4 36.8c-.2 1.6-.5 4 0 5.6 1 1 2.9 1.4 4.5.8.6.4 1.4.6 2.4.5h2.4c.3 0 .5-.3 1-.2.5 0 .7-.4.8 0-.9 16-2 31.8-1.8 48.7.6 2.7 1.8 5 2.6 7.5a32 32 0 0 0 6.7 6.3c2.4 1 5.6 1.3 8.2 2.1 1.6-.1 2.8.2 4.2.3 1-.2 1 .4 1.9.3.2.5 1.7-.1 1.8.5 3 .2 5.9.3 8.5.8h8.5c3.5-1 8.4-.6 12.2-1.3 3.9-.7 7.3-1.7 12-1.6 0-.3.3-.3.7-.3 1.5-.6 3.2-1 4.3-2.1 1.7-.5 2.4-2 4-2.7 1-1.4 2-2.9 2.8-4.5.3-1.4.8-2.6.6-4.5.4-.8.5-2.1 1-2.9-.4-1.3.1-2 0-3.4-.2-.8.5-.8.3-1.6.2-.6-.3-1.8.3-1.9 0-2.6.2-5 .5-7.4 0-13.5.1-25.6-.8-38.2 2.2.6 3.2 2.3 5.8 2.4 1 .7 1.5 1.8 3 1.9-.1-.6.9-.1 1.3-.3.1-.3.5-.5 1-.5 1.6-1.3 1.6-4.9 1-7.4zM18.4 13.3c.5-.8 0-2.6.8-3 1.2 0 .1 1.5.3 2.2.1 1-.2 1.7-.3 2.6-.1 2 .2 3.7 2.4 3.5 2.3-.1 1.8-3 1.9-5.3.1-1.3.3-2.5.2-4 1.2-.1 2-.7 3.2-.8.1 1.2 0 2.2-.3 3.2v4c.2.4.2 1 .6 1.3-.1.7 1 .2 1 .8 1.7-.3 1.8-2.2 1.6-4.3V7.7c1 0 1.9-.5 3-.5-.1 2.2-.7 3.9-.9 6 0 2.4-.3 5 1.9 5 2.7 0 1.4-4 2.1-6 0-2 0-4-.3-5.6 3-.4 6-.5 9-.8.7 2.2-1.4 8.8 2 9 1.5-.2 1.3-2.1 1.2-4v-5h1.9c1 0 .5 1.6 1 2.2.6.5.9 1.2 2 1.3 1.5 0 1-2.3 1.5-3.5 13.3 0 24 2.6 34.2 5.6 1 2.4 1 6.2 0 8.7-6.2-.6-11.5-.5-17.8-1-16-.3-30.6.7-43.4 3.4h-8c-1.3-2-.6-6-.8-9.2zm69.2 73.9c-5.9-.5-12.1-.6-18.6-.5C63 86.8 58 88 52.6 89c-2.2.1-3.4.2-5.6 0-1.8 0-3.1.7-5.3.5-1.3-1-2.8-1.5-3.7-3 .5-10.7.7-21.7.6-33 0-.4 0-.8.2-.9 8.9.1 17.1.8 26 .8 3.8.6 8.4.4 12.2 1.1 4 .3 8.3.6 12 1.3 0 11 0 21.8-1.4 31.3zm1.3-36.6c-9.7-.7-19.3-1.5-29.1-2-5.4 0-10.6-.1-15.4-.6-2.8.3-6 .2-8.5.8-1.5.7-1.7 2.9-1.6 5.3V61c.2.9-.4 1-.2 1.8.2 9.7-1.6 19.7-.3 28.6.4 1 1.4 1.3 2.1 1.9 1 .4 1.6-1 2.1-.3 1.8.5 3.4 1.1 5.3 1.4 2.8-.2 4.3-.1 7.2 0C59.8 93 70 91.2 81 92.2c2.2 0 4.1.1 6 .3.6 5.3-3 6.4-5.8 8.5-2.2-.3-3.6.5-5.5.5-1.3-.2-1.7.4-3 .3-.7.2-1.8 0-2.3.5-3.7.4-7 1.2-11.2 1-1.6.4-3.6.5-5.3.9-8.2.1-15.2-1-22.2-2.2.4-1.7 1-3.8-.8-4.5-2.5-.7-2 2.8-3.7 1.9-1-.9.5-2.3.8-3.4.6-1.1.8-3-.6-3.5-1.5-.3-1.5 1-2.3 1.3-.3.4-.8.6-1.1.8 0 .6-.2.9-.8.8-.4-1.2-.7-2.5-.5-4.2l2.9-5.8c.3-2 2.5-5.1.2-6.4-2.3-.5-1.8 2-3.4 2.4-.2-1.5.4-2.2.3-3.7 1.3-1.8 2.3-3.8 3.4-5.9 1-2 2.6-3.3 3-6-.5-.7-.7-1.6-1.7-1.7-1.5-.2-1.7 1-2.6 1.4-.3.4-.7.7-.8 1.3-.6-.2-.5 1.3-.8.5-.3-.6.2-2.4 0-3.7v-4c.3-2.2.4-4.5.3-6.6-.2-4.7 0-9.2.2-14a14 14 0 0 1 5.6-.8c.5 0 .6.3 1 .2 2.1.6 3.9 1.5 5.6 2.4l6.4 1.6h5c6.5-1.6 10.4-5.6 16.2-8 2.1 0 3.8.5 5.8 1.1l1 .3c.3.3 2 .8 2.7 1l2.4.8c1.3.1 2.4 0 3.5-.2 1.5.5 3 1.2 5.3 1 2-.4 3.2-1.7 5.3-2 .3.7-.2 2.7-.3 3.9.1 3.7-.5 6.6-.3 10.3zM100.6 35c-1.8 0-2.6-1.1-4-1.6-1.2-.6-2.6-1-4-1.6h-4.5c-1.7.6-3 1.6-4.7 2.1-2 .1-3.4-.5-5-.8-1.6-.3-3.2-.5-4.3-1.3l-9-2.4c-1.1-.2-1.4.4-2.4.3-6 1.8-10 5.5-15.7 7.7-.6 0-1.2 0-1.5.2-3-.2-5.9-.7-8.3-1.6-2.4-.7-4.5-1.8-7.1-2.3-3.6-.2-6.5.4-9 1.3-2.8 1.4-5 3.4-8.2 4.2-1.5 0-3 .2-3.8-.5-.6-1.3 1-2.5 1.4-3.7.6-1.2 1.7-2 2.4-3.2l3.4-2.6a18 18 0 0 0 3.2-2.7c2.4.3 5.2.3 8 .3 8.8-1.6 17.7-3.1 28-3.2.5 0 .5-.3.8-.3 11-.2 21 .5 30.5 1.6.8-.1 1 .4 1.6.5.3.4 1 .5 1.3.8 1.2.2 1.5-.6 2.7-.5 1.5 1.5 3.2 2.8 4.5 4.5.9.6 1.3 1.7 2.1 2.4.2.6.9.7 1 1.3.4.1 1.3.8.6 1zM84.2 66c-.8-.4-1.5-.8-1.9-1.6-.8-.3-1.3-1-2.4-1-2.6 0-3.6 1.7-6.3 1.5-1.6-.4-1.6-2.5-3.5-2.6-3.2 0-4.5 2-7.7 2.1-.8-1.1-1-3-1.6-4.2-1-1-2.6-1.6-4.5-1a16 16 0 0 0-3.2 2.6c-1 1.1-2 2.2-2 4 .5.3.5 1.3 1.5 1.3 2.8.2 2.8-2.4 4.8-3 .3 2.5 1.8 3.7 3.4 4.8h3.7c.8-.6 1.7-1 2.4-1.6.7-.7 1-1.6 2.2-1.8.4 1.8 1.7 2.8 3.1 3.7h4c.2-.6 1.2-.2 1.3-.8.9 0 1-.7 1.9-.5.7.8 1.6 1.4 2.4 2 1.2.4 2.9.3 4.5.3.7-.7 2.2-.8 1.8-2.6-.4-1.4-2-1.7-4-1.6zm-2.4 10.9c0-.8-1.8.2-1.9-.6H64.3c-1.4.8-4.6 0-4.8 1.9 0 2.2 2 2.3 3.7 2.6h6.6c2.7.6 6.3.2 9.3.3 0-.6 1-.1 1.3-.3.3-.4.9-.3 1.4-.5.4-.8 1.4-1 1.3-2.4-.3-.4-.6-1-1.3-1z" clip-rule="evenodd"/>
  </svg>
  {% endif %}

{% if icon == 'chef' %}
 <svg {{shared_attr}} width="24" height="24" viewBox="0 0 24 24" fill="none">
  {{ icon_title }}
  <path fill="currentColor" fill-rule="evenodd" d="M23 7.6l-.2-.5-.4-.5-1.2-1-1.5-.7-1.5-.7-.7-.3-.7-.4-.8.1c0-.3-.3-.3-.4-.5l-2-1-2-1L9.5.3 8.9.2 8.2 0H6.8h-.2c-1 0-2 .3-2.7.6l-.3.2h-.1A11.2 11.2 0 0 0 2 2c-.6.8-1 1.9-1.2 3v2A4.8 4.8 0 0 0 3 10.2c.4.2 1 .3 1.3.6V17c.1.2 0 .4.2.5 0 .4.2.6.3.9-.3.5-.2 1.4-.3 2 0 .9 0 1.6.2 2.2.2.1.3.3.7.3.1.3.4.3.6.5h.3l1.6.4 1.9.1h4c.8 0 1.6-.2 2.3-.4.7-.2 1.4-.3 1.7-1 .1 0 0-.1-.1 0v-.3c.3-.7.2-2.1 0-3 0-.2.3-.2.3-.5v-1.1-2.8l-.1-1.4v-.7c0-.3 0-.6.2-.6.1.1-.1.2 0 .4l.1.4c.7.3 1.5-.1 2-.3l1.5-1c.7-.8 1.4-1.5 1.5-2.8L23 7.6zm-6.2 13.8c0 .4-.2.7-.1 1-1.5.3-3.1.5-5 .4 0-.3 0-.6-.3-.7-.2 0-.3.1-.4.3-.1 0 .1.5-.1.4 0-.3.1-.9-.3-1-.5.1-.5.5-.5 1H7.7v-1c0-.4 0-.8-.2-.8-.6 0-.6.9-.6 1.6h-.5v-1.7c0-.2-.1-.3-.3-.4-.5 0-.5.5-.5 1v-1.3c0-.2-.2-.3-.1-.5v-.1c.7.2 1.4.2 2.3.2.3.8.2 2.1 1 2.3.7 0 1-.5 1.3-.9l.7-1.3c2 .2 4.2 0 6-.3v1.8zM22 9v.1c-.3.7-.7 1.3-1.2 1.7-.5.5-1 .8-1.8 1-.2 0 .1-.2 0-.4a1 1 0 0 0-.5-.3c-.3 0-.5.2-.7 0l.4-.1c.3 0 .4-.1.5-.2.3-.1.6-.2.6-.7-.1-.2-.4-.3-.8-.2-.2 0-.5.3-.7.1 0-.3.4-.2.6-.3l.5-.3c.4-.3.7-.5.8-1H19c-.5 0-1 .4-1.5.2l-.4.4h-.2l-.8.2c-.4 0-.6.1-.7.4 0 .3.3.5.6.5h1c0 1-.2 1.7-.1 2.6v2.6c.1 1 0 2.2.2 3-1.2.4-2.7.4-4.1.5l-2.4.1c-.2 0-.2.2-.3.2l-.1.4-.3.5-.4.5c0 .1 0 .2-.2.3 0 0 0 .2-.2 0l-.3-1c0-.4.2-.5 0-.7 0-.3-.4-.2-.7-.3-1 0-1.7-.1-2.5-.3 0-.3.1-.4 0-.8v-1.1l1.2-.7c.3-.3 1-.3 1-.9 0-.3-.3-.3-.6-.3l-.6.2c-.5.1-.7.5-1.1.6v-1l.7-.4c.2-.2.5-.2.5-.6 0-.7-.9-.3-1.3-.1 0-.5.2-.6.4-.7.2-.2.5-.3.5-.7 0-.1-.1-.3-.4-.2-.2 0-.4.2-.5 0v-1c.7.2 1.6.3 2.4.3h2.5c.7 0 1.4 0 2-.2.5-.2 1.1-.4 1.2-1-.1-.4-.8-.3-1.3-.2l-1.5.1H7.7l-1.4-.1-.7-.1c-.1 0-.4 0-.5-.2-1 0-1.5-.5-2.1-1-.6-.5-1-1.3-1-2.3v-1-1.3h.1c.6-1 1.7-1.6 2.5-2.3 1-.3 2-.5 3.3-.4.7 0 1.4.3 2 .5l1 .4.8.4.9.5c.3 0 .5.3.9.3.2.2.5.3.9.4.3.2.6.2 1 .2.3 0 .4 0 .5-.2l.1.4 1.5 1 .7.4.8.4c1.2.4 2.2 1 2.9 1.9V8l.1.2V9zm-9.6 6.2h-.1l-.7.5c-.2.3-.5.3-.6.7l.5.2c.4 0 .6-.3.9-.4.2-.2.6-.5.4-.9 0-.1-.2 0-.4 0zm-1.8.1l-.8.5c-.3.1-.6.3-.7.6l.2.3c.3 0 .4 0 .6-.2.2 0 .3-.1.5-.3.3-.1.7-.3.7-.8h-.5z"/>
  </svg>
  {% endif %}

{% if icon == 'pancake' %}
 <svg {{shared_attr}} width="24" height="24" viewBox="0 0 24 24" fill="none">
  {{ icon_title }}
  <path fill="currentColor" fill-rule="evenodd" d="M24 12.5l-.2-.7-.2-.3c-.1 0-.3-.1-.3-.3.2-.1.1-.4.1-.7 0-.4-.3-.6-.5-1 .2-.2.4-.4.4-.9 0-.4-.4-.6-.5-1l.1-.9v-.4l-.2-.5-.1-.6c-.4-.6-.8-1.2-1.4-1.5h-.5c-2-1-4.2-1.5-7-1.5h-.1c-2 0-3.6.4-5 1-.4 0-.8.2-1 .4l-1 .5-.8.7-.4.4-.2.5v.9l.2.4c.2 0 .3 0 .3.3V10c.1.5.3.7.3 1.3-.1.5-.5.8-.9 1-.9.4-2.3.3-3.3.6l-1 .4-.8.8.1 1c.2.3.7.4 1 .5l.6.2.1.7c0 .2-.2.3-.4.4-.2 0-.3.2-.5.3-.1.2-.4.3-.4.5l-.2.8c.1.4.4.6.7.7.2.3.7.3 1 .4h1c1.6-.3 2.3-1.4 3.7-1.9.6-.2 1.2 0 1.7 0 .6.5 1.2.9 2 1.2l.5.1c.7.1 1.2 0 1.7-.3l.9-.6c0-.3.2-.4.3-.7v-1l1.2.1c.4 0 .7.2 1.2.1.1.2.4 0 .6.1h2l2.5-.4 1-.4 1-.5c.2-.3.5-.7.6-1.3l-.1-.7.2-.9zm-2-5.6l.1-.1h.1c0 .4-.1.7-.3 1-.3.1-.7.2-1 .5-.3 0-.6.3-1 .4l-2.4.5c-1.7.3-3.7.2-5.6.3-.3 0-.6.2-.9 0l.1-.2.3-.2.7-.3c1 0 2.3.2 3.3 0 .7 0 1.4-.3 2.1-.4l.5-.1h.5c.1-.2.3-.2.5-.2l.5-.2c.6-.2 1.1-.5 1.8-.6.3 0 .4-.3.7-.4zM13 6.8h.4V7c0 .6-.4.8-.9 1h-.4c-.3-.1-.8 0-.9-.4v-.1c.1-.5.7-.2 1.2-.2h.1l.5-.5zm0-1.8h0s-.1 0 0 0zm-.4 3c0 .2-.3 0 0 0zm1.7-3.6h.8c.3.2.7.3.8.8l-.3.3c-.5 0-.5-.3-.8-.4-.3 0-.7.2-1 0V5c0-.4.2-.5.5-.6zM6 6.6c-.4-.8.4-1.2.7-1.6l.8-.5.8-.4c1.2-.5 2.6-.8 4.2-.9h2.2l2.6.2 1.3.2.5.2.6.2c0 .1-.3.1-.3.3 0 .3.1.4.3.4.2 0 .3-.1.2-.3V4c.6.2 1 .8 1.6 1 .2.3.3.5.3 1-.4.4-1 .6-1.7.8-.2.2-.6.3-.9.4l-.5.1-.4.1c-1.4.3-2.7.6-4.3.7l.2-.2.2-.3.1-.7c.8-.4 2.1-.2 2.6-.9V4.7c-.5-.7-1.3-1-2.5-1-1 .1-1.5.6-2.2.9-.4 0-.6 0-.8-.2h-1c-1 .1-2 .3-2.7.7l-.6.3-.5.4c0 .2-.3.2-.4.4-.2 0-.2.3-.4.4zM1.4 15l-.3-.3V14c.3-.3.7-.8 1.3-.6.2.5-.3.7-.5 1-.1 0 0 .2 0 .4-.2 0-.3.2-.5.1zm2.3 3.4v.1l-1 .2c-.7 0-1.3 0-1.4-.6l.2-.3.6.2h.5c.5 0 .8-.2 1.2-.4l.4.1c.2.4-.2.6-.5.7zm1.5-.7s-.2 0-.2-.2c0-.5 1-.6 1.2-.3 0 .6-.6.5-1 .5zm1.7-5.9c0 .5-.2 1-.6 1.3 0 .3 0 .6-.4.6-.3-.3 0-.6 0-1l.4-.8v-.7l-.1-.7c0-.1 0-.4.3-.4l.2.7.2.7v.3zM9.1 9l-.7-.2-.6-.3c-.2 0-.3-.2-.5-.3-.2-.2-.5-.4-.6-.8l.2-.1c.2 0 .5.1.7.3l.5.2.3.1c.2.2.6.2.9.3.2.2.5.2.5.5S9.4 9 9 9zm3 9.3h-1c-.3-.1-.8-.1-.7-.6.2-.3.5 0 .9 0h.3c.5-.3.8-.6 1-1h.4c.2 1-.5 1.3-1 1.6zm10.8-3.5l-.6.5c-1.8.5-4 .7-6.3.6l-1.8-.3c-.2 0-.1-.3-.2-.4-.3 0-.1.4-.4.3-.3 0-.3-.3-.4-.5l-.2-.2-.2-.2 1.4.3h1c1 0 2.4.2 3.5 0 1.7 0 3.1-.3 4.3-.9h.2c0 .3-.2.5-.3.8zm0-1.3c-1.3.4-2.9.6-4.6.7h-3.2c-1-.2-1.7 0-2.5-.2-.3 0-.3.2-.4.2l-1.4-.5c0-.3.3-.3.3-.7 0-.3-.3-.4-.5-.5l.2-.4.2-.4-.2-1.7.6.1c.7 0 1.4 0 2.1.2 1.8 0 3.4-.1 4.8-.5.7 0 1.3-.3 2-.4.2-.2.4-.2.5-.2l.5-.2.8-.5.1-.1h.2l.2.4v.6c-.5.3-1.2.2-1.7.4l-1.7.4-.8.3H18l-.4.1-1.8.3h-3.5-.2c-.4 0-.9-.3-1 .2 0 .3.3.3.5.3l.4.1h.4l1.6.1h1.8c1.3 0 2.4-.3 3.5-.5 0-.1.3 0 .4-.2h.3l.8-.3 1.5-.5.5 1.2H22c-2.2.9-4.9 1.3-7.8 1.4l-1.5-.2c-.5.1-1-.1-1.3.2 0 .3.3.3.5.4l.5.2h3.2c1.4 0 2.7-.2 4-.5.6 0 1.1-.2 1.7-.4l.7-.3c.3 0 .5-.3.7-.4 0 .3.2 0 .2.1l.2.3.2.6c0 .4-.2.5-.4.8zM11.1 4c.1-.1.3-.1.3-.3 0-.3-.6-.4-.7 0 0 .1.2.3.4.3zm7.4 1.1s.2 0 .2-.2c0-.3-.2-.4-.4-.4 0 .1-.2.1-.2.3 0 .2.2.3.4.3zm1 .7c.2.2 1 .1 1-.3-.1-.6-1-.3-1 .1V6zm-.8.8c0-.4-.8-.6-1-.2.1.3.8.6 1 .2zM6.5 19h-.3v.1H6c-.3 0-.6.2-.8.3-.3.2-.6.4-.7.8v.3c.2.5.6.7 1 .8.8 0 1.5-.1 2-.3.6-.2 1.1-.4 1.1-1.2-.1-.8-1.1-.8-2.2-.8zm1 1.2H7c-.1-.2-.4-.2-.4-.4H8c0 .3-.3.3-.4.4zm3.9.2c-.2.1-.6.1-.7.3-.3.1-.5.3-.4.7.2.3.6.2 1 .3.6 0 1.2-.2 1.4-.8 0-.2-.2-.3-.3-.4-.3-.2-.6 0-1 0z"/>
  </svg>
  {% endif %}

{% if icon == 'cupcake' %}
 <svg {{shared_attr}} width="24" height="24" viewBox="0 0 24 24" fill="none">
  {{ icon_title }}
    <path fill="currentColor" fill-rule="evenodd" d="M23.8 11.7V9.3A6.7 6.7 0 0 0 21 4.7l-1-.8-.6-.4-.6-.3c-.8-.4-1.6-.8-2.7-1a5 5 0 0 0-1.7.2l-1-.2C13.2 1 12.7-.1 11.1 0h-.2c-.6.2-1 .6-1.3 1l-.2.5c-.2 0 0 .5-.3.5-2.2.4-4 1.2-5.5 2.2l-1 .8-.5.5-.5.5-.8 1.1-.2.7-.1.4c-.2 0 0 .3-.2.4-.2.8-.1 1.7 0 2.6l.3.8.4.7c.4.5.7 1 1.2 1.3h.2l.5.2.1.1h.5c0 .7.4 1.1.6 1.6l.7 1.4.4 1c.5 1.4.9 3 1.2 4.5.3.2.3.6.7.7.3.2.8.2 1.2.3l1.3.2c1.4 0 2.8-.2 4 0l2-.3.8-.2c.1-.1.5 0 .7-.2.6-.4 1-1 1.4-1.7.8-2.1 1.4-4.5 2.3-6.5 1.1 0 1.8-.6 2.4-1.2 0-.3.2-.5.3-.8l.1-.4c0-.1 0-.3.2-.4v-.6zM12.2 1l.2.1c.3.2.4.5.4 1-.2.3-.4.5-.9.4-.3-.2-.5-.6-.5-1.1.2-.3.5-.5.8-.4zM18.8 17c0 .7-.4 1.2-.6 1.9l-.4.8-.4 1a3 3 0 0 1-1 1.5c-2.6.2-5.3.2-8 .3l-.3-1.1c-.1-.3-.2-.8-.4-1-.1-.8-.4-1.4-.6-2.2l-.5-1-.4-1-.3-.4-.2-.5c-.1 0-.1-.3-.3-.3 0-.3-.2-.3-.2-.5 1-.3 1.8-.8 2.5-1.4 1.2.3 2 1.2 3.5 1.3 1 0 1.5-.5 2-1 .2 0 .3.3.5.4l.4.4.6.2c.1.2.5.2.6.3h1c.5-.2.9-.5 1.2-1l.5.5.5.4 1 .4-.7 2zm4-6.1l-.1 1c-.4.6-.7 1.4-1.4 1.8h-1l-.8-.2-.7-.4-.8-.8c-.3 0-.2.3-.4.3l-.5.5-.9.5h-.6c-1-.2-1.5-1-2.2-1.4l-.5-.7-.4.4c0 .3 0 .5.2.7l-1.1.7h-.2c-1.4 0-2-.7-3-1v-.6c0-.2-.1-.4-.4-.3-.3 0-.4 0-.4.2l-.3.3L5.2 13H3.3l-.3-.1h-.2L2 11.4c0-.6-.2-1-.4-1.5 0-.9 0-1.6.2-2.2a8.4 8.4 0 0 1 4-3.6l.6-.2c.1-.1.2 0 .2 0l.1-.2H7c0-.1 0 0 .1 0l.4-.3 1-.3H9l.2-.1c.2 0 .2.1.3.2l.2.4.6.6.6.4.6.3c1 .2 1.5-.4 2-1 0-.2 0-.5.3-.6.6 0 .8.3 1.2.4l1 .5c.2 0 .4-.1.4-.3.1-.2 0-.4-.1-.5l-.2-.3c1 .1 1.8.6 2.6 1a10 10 0 0 1 3.6 3.5c.4.9.5 1.9.5 3zM8.3 6.2l.3-.2.2-.3v-.5V5l-.6-.4h-.6c-.2 0-.5.2-.5.3-.2.3-.1.6 0 1l.5.2c.2.2.5.1.7.1zm-.9-.6c0-.6.8-.6.8 0l-.2.3c-.3 0-.5-.1-.6-.3zm12 .1l-.4-.4c-.7 0-1 .4-1.1.9 0 .4.2.7.5 1 .8 0 1-.5 1-1.3v-.2zM8.6 7c-.4-.1-.7.2-1 .5 0 .6.5 1 1.1.8.2-.2.3-.5.2-.8 0-.2-.2-.3-.3-.5zM4.5 8.7c.4.1.8 0 1-.2l.2-.1v-.2c0-.5-.1-.8-.3-1-1-.4-1.5.8-1 1.5zm.7-.6c-.3.1-.4 0-.6-.1-.1-.5.4-.7.7-.4l-.1.5zm10.5-.5l-.2-.1c-1 0-.8 1.5.2 1.3l.2-.2V8l-.2-.3zm-2.5 1c-.5-.2-1 0-1 .7.2.2.4.5.8.5h.2c.3-.2.3-1 0-1.2zM10 19l-.1-.8c0-.2-.1-.2 0-.4-.2 0-.1-.3-.2-.4 0-.2 0-.5-.2-.7v-.3c0-.2 0-.3-.2-.4l-.2-.7c-.1-.1-.2-.4-.5-.4-.2 0-.3.2-.4.4 0 1 .3 1.7.5 2.6l.2 1.4c.1.2 0 .4.2.6 0 .2.2.3.4.3.3 0 .5-.1.5-.4v-.4-.4zm6.6-3.2l-.2.1c-.6 1-.8 2.1-1.2 3.2 0 .4 0 .6.2.8h.1c.4 0 .5-.4.6-.7l.4-1c.1-.8.4-1.3.5-2.2l-.4-.2zM13 17v-.4c0-.3 0-.6-.3-.7h-.3c-.2.2-.2.6-.3 1v.8c.2.8-.1 2 .7 2.2l.3-.2c.2 0 0-.4.1-.5l-.1-1.8c-.1 0 0-.3 0-.4z"/>
  </svg>
  {% endif %}

{% if icon == 'dish' %}
 <svg {{shared_attr}} width="24" height="24" viewBox="0 0 24 24" fill="none">
  {{ icon_title }}
    <path fill="currentColor" fill-rule="evenodd" d="M1.2 17.2c0 .2.2.2.4.3.8-.3 1.3-1 2-1.4l1-.8 1.1-.6 1-.8 1-.7.5-.3.6-.3 1-.8c1.4-.9 3-1.6 4.5-2.5.6-.5 1.4-.9 2-1.5l.9-.8c.3-.3.7-.4.8-1 0-.4-.2-.5-.4-.7l-.3-.9a5 5 0 0 0-1.6-1.3c-.7-.4-1.5-.6-2.4-.7h-1.7l-.1.1A11.6 11.6 0 0 0 7 3.7c-.6.1-.9.4-1.3.6-.2-.1-.2-.3-.3-.4 0-.2-.3-.2-.4-.3l-1.1.2-.4.4-.1.2-.1.3c0 .5 0 .8.3 1.1A10.1 10.1 0 0 0 0 11.9v1.7c.1.8.3 1.5.6 2.2l.3 1c0 .2.2.3.3.4zM4.7 4.4c.1.2.2.6-.1.5-.2 0-.2-.2-.2-.4h.3zm-3.1 8c.2-.6.2-1.2.5-1.7l.5-1.4c.5-1 1.2-1.7 1.8-2.5l1-.7.1-.4.7-.4.4-.2.3-.2 1.4-.6c1-.3 2.1-.6 3.4-.7h.2c2-.2 3.4.3 4.3 1.2.1.2.1.5.3.5l.2.6c0 .2-.3.2-.4.4-.2 0-.2.3-.4.4l-.8.7c-.4.2-.6.5-1 .6l-.8.6-2 1.1-1 .6-1 .5-.8.7c-.3 0-.3.2-.5.3l-.5.2-.9.7-.8.7-1 .5-.8.7-1 .7-.4.2-.4.4c-.2-.6-.5-1.1-.6-1.8v-1.8zm1.2 1.9c.2 0 .3-.2.3-.3.2 0 0-.2.2-.3v-1l.1-.8.4-.8.4-.7c0-.3.2-.5.4-.7l.5-.7 1.2-1.2c.3-.4 1-.6 1-1.3-.2-.1-.3-.3-.5-.2h-.2c-1 .6-1.8 1.5-2.5 2.3-.7 1-1.4 2-1.7 3.2v1.6c0 .5 0 .8.5.9zm20 4.5l-3.4-.1c-1.1 0-2.1.2-3.2.3l1-.8 1.1-.7c.7-.7 1.4-1.5 1.5-2.7V14c0-.3 0-.6-.2-.8 0-.3-.3-.5-.5-.7-.5 0-.8-.2-1.4-.1-2.2.3-3.3 1.8-4.3 3.3-.7-1-1.4-1.8-2.7-2.1-1-.1-2 0-2.4.5l-.1.1-.1 1.4c0 .6.3 1 .5 1.5l.3.4 1 .9.5.3.3.1c0 .2.3.1.2.2H1.6l-.6.1c-.2.1-.3.2-.3.4s.1.2.3.3l.5.1h2c.4.4.6 1 1 1.3l.6.3h.1l5.2-.1 2.4-.1 2.3-.1c1.7-.1 3.3-.2 5.2-.1l.3-.8.2-.4c.2 0 .1-.2.4-.2h1.5l.8.1c.3 0 .3-.2.5-.4-.2-.4-.7-.5-1.3-.6zM5.6 20.3h-.5c-.2 0-.2-.2-.3-.4h.8v.4zm.7-.2V20c.3 0 .6 0 .7.2h-.7zm1.3 0v-.2h.9c-.2.2-.7.2-.9.2zm5.1-2.8c-.1.2-.1 0-.2-.1l-.2-.3-.4-.4c-.3-.2-.5-.6-1-.6-.3 0-.4.1-.4.3 0 .3.2.4.4.6l.4.4c0 .2.3.3.3.6.2 0 .3.3.4.4-.1.2-.3 0-.5 0l-.4-.2-1-.7c-.5-.6-1-1.4-1-2.6v-.1h1.1c.8 0 1.3.5 1.7 1l.6.7.2.5v.6zm1.5-.8c0-.2.2-.4.4-.6.2-.5.6-.8.9-1.2.7-.6 1.4-1.3 2.8-1.3l.6.4v1.1l-.3.6-.3.4-.8.9c-1 .7-2.2 1.5-3.5 2 0-.2.2-.3.3-.4l.4-.5.9-.9 1-.7c.2 0 .3-.3.4-.4.2-.1.3-.2.3-.6-.2-.3-.8 0-1 .2l-1 .5-.7.6-.4.4-.1.2-.2.1c0-.2.1-.6.3-.8zm4.5 3.6h-1.3l-1.1.1h-2.1l-.8.1c0-.2.3-.1.5-.2 1.8 0 3.4-.3 5.2-.3h.5c-.1.3-.5.3-1 .3z"/>
  </svg>
  {% endif %}

  {% if icon == 'cherries' %}
 <svg {{shared_attr}} width="24" height="24" viewBox="0 0 24 24" fill="none">
  {{ icon_title }}
    <path fill="currentColor" fill-rule="evenodd" d="M20.9 11.4l-1.3-.2-1.3.2-1 .6c-1-1.6-1.7-3.4-2.2-5.5 0-.3.2-.3.1-.5l-.1-.7c0-1 0-2 .2-3V1c0-.5-.1-.7-.3-1h-.6l-1.2.5c-.3.2-.7.4-.8.8V2c-.5.9-1.1 1.6-2 2-.2 0-.3-.2-.4-.3a1 1 0 0 1-.4-.2l-1.3-.3h-1a6.5 6.5 0 0 0-4.8 2.5l-.7 1.1L1 8.1l-1 2.7c0 .5 0 1.2.3 1.5 1.4 0 2.4.4 4 .3 1.2-.1 2.2-.6 3-1l1.2-1c.2-.1.3-.4.5-.4 0-.2.2-.2.3-.3l.1-.1.1-.1-1 1.7-.4 1-.4.9a8 8 0 0 0-2.6-.1h-.4l-.4.2c-.1.2-.5.2-.6.3l-1.1.8-.4.4c0 .2-.2.4-.3.5l-.2.6c-.2.4-.3 1-.3 1.4v1.4c0 .3 0 .5.2.7v.3l.1.3c.2.8.6 1.4 1 2l1 .8c.3 0 .4.2.6.3.2.1.6 0 .8.2.8.4 2 .5 3.1.6.6 0 1.1-.2 1.6-.3.7-.4 1.3-.8 1.8-1.3l.7-1c.2-.2.3-.7.6-1l.7 1.1c.4.3.7.7 1.3.8h.8c.6.3 1.5.2 2.2.3.4-.2 1-.1 1.5-.3.5-.2.8-.6 1.4-.7.1-.3.3-.4.5-.6l.7-.5c0-.2.2-.3.4-.5l.4-.5.6-1.2c.2-.6.3-1.2.3-2 0-2.6-1.2-4-3-4.9zm-7-10.1l.3-.2h.1c0 .7 0 1.1-.2 1.6h-.5v-.8-.5l.3-.1zm-2.5 5.2V6l.1-.7v-.6c.5-.3 1-.7 1.3-1.2h.1c0 .8-.4 1.3-.6 1.8l-1 1.5c-.1-.1.1-.3 0-.4zm-5 4.2l-.6.3h-.1l-.5.2h-.1c-.1.1-.2 0-.2 0l-.7.2H1.3l.2-1.2L2 9l1-2c.8-1.3 2-2.2 3.6-2.6h1.6c.4 0 1 0 1.2.3-.3.2-.8 0-1.1.3L7 5h-.5c-.2.2-.7.2-.8.4 0 .5.5.5.9.6 0 .2-.2.1-.2.2 0 .2-.3 0-.4.2-.6 0-1.2 0-1.7.3-.3 0-.5.2-.7.3-.2.1-.4.3-.3.6 0 .3.4.2.6.1.2 0 .6 0 .8-.2.2 0 0 .2 0 .2l-.1.1-.3.3-.6.6-.4.8c-.2.2-.5.4-.4.8l.2.2c.5 0 .6-.5 1-.7L5 9c.2 0 .3-.3.5-.4l.2-.2.1-.2 1-.8c.1.1-.2.4-.2.6l-.2.7c0 .2.2.5.4.5.4 0 .5-.4.6-.6l.4-.8.8-1.6.7-.3c0 .3.1.5.3.6.4 0 .5-.2.5-.6.2-.1 0-.7.3-.6.3 0 0 .2.1.5l-.1.6-.4 1.1C9 8.5 8 9.8 6.4 10.7zm5.6 8.5c0 .4-.2.7-.3 1-.2.1-.1.4-.3.5l-.2.4-.6.7-.7.7-1.2.4c-1 0-1.7-.2-2.5-.4.2-.3.4-1 0-1.1-.6 0-.5.4-.8.6-.2 0-.3-.3-.5-.3l.4-1c.1-.2.3-.7 0-.9-.4 0-.5.2-.6.5-.3 0-.2.5-.5.5l-.2-.5c.2-.8.7-1.3.9-2 0-.1-.2-.1-.2-.3-.3 0-.6.2-.7.4l-.3.3s-.2.3-.2.1c-.1-.3-.2-.8-.1-1.3 0-.8.2-1.4.5-2 .4-.4.7-.8 1.3-1 .7-.2 1.8-.3 2.4 0v1.2c-.4-.1-.8-.4-1 0-.2.4.1.5.3.8.2 0 .4.3.6.4l1.8.4c.8 0 1.5-.3 1.4-1.2 0-.2-.1-.3-.3-.3l-.5.1c0 .2-.3.2-.4.3h-.8v-1.4c1 0 1.6.4 2.2.9l.7 1c.2.4.4 1 .4 1.5v1zm10.4-1l-.3.5c0 .3-.3.4-.3.6-.4.3-.8.5-1 .9-.4 0-.5.3-.7.4l-.6.4h-.4c-.5.3-1 .4-1.7.3 0-.5 0-1-.5-1s-.3.6-.5.8a3 3 0 0 1-.5-.2c0-.7.5-1.8-.2-2-.4 0-.4.3-.5.6-.2.2-.3.5-.3.9-.2 0-.2-.3-.4-.4v-.8c0-.4.2-1-.3-1.1-.2 0-.2.2-.4.3 0 .2 0 .4-.2.5-.1-.1-.4-.2-.4-.5v-.7c0-.5-.3-.8-.4-1.3-.3-.7-.8-1.3-1.4-1.9-.2 0-.4-.2-.6-.4L10 14H9v-.7c.2-.2.2-.5.4-.6 0-.5.3-.8.5-1.1l.7-1.2.6-1c.8-1.5 1.9-2.7 2.4-4.5v-.1h.1l.8 4 .7 1.7.7 1.6h-.6c-.5 0-1 .1-1.2.3-.2 0-.4.2-.5.3-.2 0-.3.3-.5.3-.4.6-1 1-1 2 0 .2.4.2.6.2.4-.1.6-.5.8-.8l.7-.9.4-.2.3-.1.3-.1h.8c.3 0 .6 0 .7.3 0 .3 0 0-.1 0h-.4c0 .2-.2.3-.3.4 0 .5.3.5.6.7l.9.2h1c.7-.1 1.2-.3 1.5-1 0-.3-.1-.5-.3-.6-.5 0-.7.3-1 .4-.2 0-.2-.3-.3-.3-.1-.2-.4-.2-.3-.4a6 6 0 0 1 1-.3H20.3a4 4 0 0 1 2.3 3.5l-.2 2.3z"/>
  </svg>
  {% endif %}

{%- endcapture -%}
{{- icons -}}
